%header.header.sticky{:"data-starting-height" => 300, :"data-min-height" => 100}
  %nav.top-bar{:"data-topbar" => true}
    %ul.title-area
      %li.name
        %h3
          = link_to "/" do
            = image_tag "logo.png", :alt => "Blurb"
    %section.top-bar-section
      = partial 'layouts/nav'
  .row
    .columns.large-8.large-centered
      - if current_page.path != "index.html"
        %h1
          = current_page.data.title
