!!! 5
- wrap_layout :boilerplate do
  = partial 'header'
  %section#main
    .row
      %h1
        = current_page.data.title
    .row
      .columns.large-7.large-centered
        = yield
  = partial 'footer'