- wrap_layout :boilerplate do
  = partial 'layouts/fancy_header'
  %section#main
    .row
      .columns.large-12.large-centered
        = partial :article, :locals => { :article => current_article }
  = partial 'layouts/footer'
