%footer
  .row
    .columns.large-12
      %ul.inline-list
        %li
          %a{:href => "http://www.blurb.com"} Blurb
        %li
          %a.secondary{:href => "http://www.github.com/blurb"} Github