%footer
  %hr
  .row.blurb-logo-footer
    .columns.large-3.large-centered
      = image_tag "eng_logo_grey.png"

  .row
    .columns.large-12
      %ul.inline-list
        %li
          %a{:href => "http://www.blurb.com"} Blurb
        %li
          %a.secondary{:href => "http://www.github.com/blurb"} Github