---
title: Blurb
---

#values
  .row
    .columns.large-8.large-centered
      %h2 Our mission is to enable anybody to publish a book.

.row#engineering-callouts
  .columns.large-4
    %section
      %h5
        %span.icon.entypo-cloud-thunder
        Technologies
      %p Some of the technologies you may be involved with here involve:
   
      %ul
        %li Rails
        %li Ruby
        %li Java
        %li DropWizard
        %li iOS
        %li EmberJS
        %li Backbone
        %li RSpec
        %li Puppet
        %li Jenkins
        %li Qt

  .columns.large-4
    %section
      %h5
        %span.icon.entypo-air
        Work/life
      %p We're all about focused, energized work, and we believe that can't happen without rest. Come early and leave early from the office. Have a life. We're not interested in burnout.

  .columns.large-4
    %section
      %h5
        %span.icon.entypo-heart
        Testing for passion
      %p We're a group of tinkerers, makers, hackers, and language enthusiasts. We love beautiful books as much as we love beautiful code.
      %p We believe in testing early and testing often. We pride ourselves in the fact that our teams work closely together to deliver the tightest product possible.
      %p You'll find us playing music, playing with Arduinos, futzing with 3D printers, and writing fiction in our free time.
      

