---
title: Blurb
---
%h1 Publishing, meet the 21st century
%h2 And here's the team that makes it happen.
%p Hello this is a test. Blah blah.
%a.button{:href => "http://www.blurb.com"} Our site
%a.button.secondary{:href => "http://www.github.com/blurb"} Github