---
title: Blurb
---

%section#values.callout
  .row
    .columns.large-8.large-centered
      %h2 Our mission is to get the world's stories out.

%section#engineering-callouts
  .row
    .columns.large-4
      %article.panel
        %h5
          %span.icon.entypo-cloud-thunder
          Technologies
        %p Some of the technologies you may be involved with here involve:
     
        %ul
          %li Rails
          %li Ruby
          %li Java
          %li DropWizard
          %li iOS
          %li EmberJS
          %li Backbone
          %li RSpec
          %li Puppet
          %li Jenkins
          %li Qt

    .columns.large-4
      %article
        %h5
          %span.icon.entypo-air
          Work/life
        %p We're all about focused, energized work, and we believe that can't happen without rest. Come early and leave early from the office. Have a life. We're not interested in burnout.

      %article
        %h5
          %span.icon.maki-pitch
          We'll take care of you
        %p Whether it's free lunch Wednesdays, happy hours, a full health coverage benefits plan, or 401k benefits -- we've got you covered.


    .columns.large-4
      %article
        %h5
          %span.icon.entypo-heart
          Testing for passion
        %p We're a group of tinkerers, makers, hackers, and language enthusiasts. We love beautiful books as much as we love beautiful code.
        %p We believe in testing early and testing often. We pride ourselves in the fact that our teams work closely together to deliver the tightest product possible.
        %p You'll find us playing music, playing with Arduinos, futzing with 3D printers, and writing fiction in our free time.
        
%section#looking-for-you.callout
  .row
    .columns.large-8.large-centered
      %h2 We're looking for you.


%section#engineering-positions
  .row
    .columns.large-4
      %article
        %h5
          %span.icon.maki-warehouse
          Software Engineer in Test
        %p About you:
        %ul
          %li You're "Smart, Gets things done" + passionate about software engineering.
          %li while ( ! ( succeed = try() ) );
          %li You've used ssh on your iPhone over 4G to remotely reboot your home Debian server.
          %li Your ideas for the next big thing keep you awake at night.
          %li You've considered writing code to notify you of cancelled reservations on OpenTable so you can get a seat at a restaurant in the city.
        %button Apply

    .columns.large-4
      %article
        %h5
          %span.icon.maki-rail
          Senior Software Engineer - Rails
        %p= lorem.paragraph
        %button Apply        

    .columns.large-4
      %article
        %h5
          %span.icon.entypo-flow-tree
          Senior Software Engineer - Platform
        %p= lorem.paragraph
        %button Apply