---
title: Blurb
---

.row#values
  .columns.large-6.large-centered
    %h3 We're a group of tinkerers, makers, hackers, and language enthusiasts. We love beautiful books, and we love beautiful code.
    %h4 We're banding together to transform the future of the book as we know it.

.row
  .columns.large-4
    %h3 Technologies
    %p Some of the technologies you may be involved with here involve:
 
    %ul
      %li Rails
      %li Ruby
      %li RSpec
      %li Java
      %li DropWizard
      %li Backbone
      %li EmberJS
      %li Puppet
      %li Jenkins
      %li Qt

  .columns.large-4
    %h3 Work/life
    %p We're all about focused, energized work, and we believe that can't happen until you get rest. So we come early and leave early from the office. We work hard, don't get us wrong, but we're not interested in burnout. Leave that for your last job.

  .columns.large-4
    %h3 Testing for passion
    %p We believe in testing early and testing often. We pride ourselves in the fact that our teams work closely together to deliver the tightest product possible.


